[Unit]
Description=Monitoring script for test process
After=network.target

[Service]
Type=oneshot
User=monitoring
RuntimeDirectory=monitoring_test
ExecStart=/usr/local/bin/monitor_test.sh
